In [1]:
import pandas as pd

In [2]:
%%html
<style>
    table.dataframe th,table.dataframe td{
        border:1px solid black;
        background-color:white;
    }
</style>

In [3]:
df = pd.read_csv('2. Ecommerce.csv')

<h3>Display Top 10 Rows of the Dataset</h3>

In [4]:
df.head(10)

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123400,Feb-20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645350,Nov-18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,Aug-19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,Feb-24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207990,Oct-25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82
5,"7502 Powell Mission Apt. 768fa\nTravisland, VA...",21 XT,PM,Mozilla/5.0 (Macintosh; U; PPC Mac OS X 10_8_5...,Silva-Anderson,30246185196287,Jul-25,7169,Discover,ynguyen@gmail.com,Fish farm manager,55.96.152.147,ru,25.15
6,"93971 Conway Causeway\nAndersonburgh, AZ 75107",96 Xt,AM,Mozilla/5.0 (compatible; MSIE 7.0; Windows NT ...,Gibson and Sons,6011398782655560,Jul-24,714,VISA 16 digit,olivia04@yahoo.com,Dancer,127.252.144.18,de,88.56
7,"260 Rachel Plains Suite 366\nCastroberg, WV 24...",96 pG,PM,Mozilla/5.0 (X11; Linux i686) AppleWebKit/5350...,Marshall-Collins,561252141909,Jun-25,256,VISA 13 digit,phillip48@parks.info,Event organiser,224.247.97.150,pt,44.25
8,"2129 Dylan Burg\nNew Michelle, ME 28650",45 JN,PM,Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10_7...,Galloway and Sons,180041795790001,Apr-24,899,JCB 16 digit,kdavis@rasmussen.com,Financial manager,146.234.201.229,ru,59.54
9,"3795 Dawson Extensions\nLake Tinafort, ID 88739",15 Ug,AM,Mozilla/5.0 (X11; Linux i686; rv:1.9.7.20) Gec...,"Rivera, Buchanan and Ramirez",4396283918371,Jan-17,931,American Express,qcoleman@hunt-huerta.com,Forensic scientist,236.198.199.8,zh,95.63

<h3>Display Last 10 Rows of the Dataset</h3>

In [27]:
df.tail(10)
df['Purchase Price'].min()

0.0

<h3>Check Datatype of Each Column</h3>

In [6]:
df.dtypes

Address              object
Lot                  object
AM or PM             object
Browser Info         object
Company              object
Credit Card           int64
CC Exp Date          object
CC Security Code      int64
CC Provider          object
Email                object
Job                  object
IP Address           object
Language             object
Purchase Price      float64
dtype: object

<h3>Check Null Values in the Dataset</h3>

In [28]:
df.isnull().sum()

Address             0
Lot                 0
AM or PM            0
Browser Info        0
Company             0
Credit Card         0
CC Exp Date         0
CC Security Code    0
CC Provider         0
Email               0
Job                 0
IP Address          0
Language            0
Purchase Price      0
dtype: int64

<h3>How many Rows & Columns are there in our Dataset?</h3>

In [8]:
df.columns.size

14

In [9]:
len(df)

10000

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Address           10000 non-null  object
 1   Lot               10000 non-null  object
 2   AM or PM          10000 non-null  object
 3   Browser Info      10000 non-null  object
 4   Company           10000 non-null  object
 5   Credit Card       10000 non-null  int64
 6   CC Exp Date       10000 non-null  object
 7   CC Security Code  10000 non-null  int64
 8   CC Provider       10000 non-null  object
 9   Email             10000 non-null  object
 10  Job               10000 non-null  object
 11  IP Address        10000 non-null  object
 12  Language          10000 non-null  object
 13  Purchase Price    10000 non-null  float64
dtypes: float64(1), int64(2), object(11)
memory usage: 1.1+ MB

<h3>Highest & lowest purchase price</h3>

In [11]:
df['Purchase Price'].min()

0.0

In [12]:
df['Purchase Price'].max()

99.99

<h3>Average purchase price</h3>

In [13]:
df['Purchase Price'].mean()

50.34730200000025

<h3>How many people have French 'fr' as their language</h3>

In [14]:
len(df[df['Language']=='fr'])

1097

<h3>Job title contains Engineer</h3>

In [15]:
len(df[df['Job'].str.contains('Engineer',case=False)])

984

 <h3>Find email of person with the following IP address: </h3><br>132.207.160.22

In [16]:
# df[df['IP Address']=='132.207.160.22'].Email
df[df['IP Address']=='132.207.160.22']['Email']

2    amymiller@morales-harrison.com
Name: Email, dtype: object

<h3>How many people have mastercard as their credit card provider and made a purchase above 50</h3>

In [17]:
len(df[(df['CC Provider']=='Mastercard') & (df['Purchase Price']>50)])

405

<h3>Find email of the person with the following credit card number</h3>
<br> 4664825258997300

In [18]:
df[df['Credit Card']==4664825258997300]['Email']

9992    bberry@wright.net
Name: Email, dtype: object

<h3>How many people purchase during the AM and how many people purchase in PM ?</h3>

In [19]:
len(df[df['AM or PM']=='AM'])

4932

In [20]:
len(df[df['AM or PM']=='PM'])

5068

<h3>How many people have a credit card that expires in 2020?</h3>

In [21]:
def fun():
    count=0
    for date in df['CC Exp Date']:
        if(date.split('-')[1]=='20'):
            count +=1
    print(count)

In [22]:
fun()

988

In [23]:
len(df[df['CC Exp Date'].apply(lambda x:x[4:]=='20')])

988

<h3>Top 5 most popular email providers (e.g. gmail.com, yahoo.com, etc)</h3>

In [24]:
list1 = []
for email in df['Email']:
    l1 = email.split('@')
    list1.append(l1[1])

In [25]:
pd.DataFrame(list1).value_counts().head()

hotmail.com     1638
yahoo.com       1616
gmail.com       1605
smith.com         42
williams.com      37
dtype: int64

In [26]:
df['Email'].apply(lambda x:x.split('@')[1]).value_counts().head()

hotmail.com     1638
yahoo.com       1616
gmail.com       1605
smith.com         42
williams.com      37
Name: Email, dtype: int64